#!/bin/bash
ssid='-DWIFI_SSID="YOUR_WIFI_SSID"'
passw='-DWIFI_PASS="YOUR_WIFI_PASS"'

# Change vars and run in your platformio console:
# 
# > cp secrets.load.sample secrets.load
# > chmod 755 secrets.load
# > export PLATFORMIO_BUILD_FLAGS=`bash ./secrets.load`
# > pio run

echo "'${ssid}' '${passw}'"

